.*
!/.gitignore
!/.travis.yml
bin/*
project/target/
project/project/
project/scala*/
target/*
output/*
testOutput/*
krakenOutput/*
krakenOutput100by100/*
krakenOutputArch/*
adoptInput/*
dimacsInput/*
inputs/*
*.config
*.sh

diagrams/dcop-algorithms-diagram.graffle

inputGraphs/*

*.snapshot

*.hprof

inputScheduling/*
